<h2>About Us</h2>
<p>CAB Quality Construction is a full service general contractor located in Marshall, MInnesota. Founded in year, we have been committed to producing quality homes in this area since that time. We employ approximately how many people.</p>
