<h2>Our Work</h2>
	
<div class="entry group">
	<h3>New Home Construction</h3>
		
	<ul class="entry-meta">
		<li><h4>Oct 26, 2010</h4></li>
		<li>Posted at 09:37 <abbr>PM</abbr></li>
	</ul>
</div>
<div id="picture_container">
	<ul class="slides">
		<li><img src="#" alt="Outside House 1" /></li>
		<li><img src="#" alt="Outside House 1" /></li>
		<li><img src="#" alt="Outside House 1" /></li>
		<li><img src="#" alt="Outside House 1" /></li>
		<li><img src="#" alt="Outside House 1" /></li>
	</ul>
</div>	 	
