/*
* Enriched Styles
*/ 

a:link, a:visited {
	-webkit-transition: color .2s linear;
	}
a:hover {
	color: rgba(55,146,179,.8);
	}

/* nav toggle
--------------------------------------------- */

#nav ul li a {
	-webkit-transition: background-color .4s linear;
	border-color: rgba (0,0,0,.5);
	}
#nav li a:hover {
	background: rgba(255,255,255,.15);
	}
#nav li.selected a {
	}

/* location bar
--------------------------------------------- */


.box-shadow {
	box-shadow: 0 1px 7px #000;
	-webkit-box-shadow: 0 1px 7px #000;
	-moz-box-shadow: 0 1px 7px #000;
}

